
# Dependency directories
node_modules/

# Output files
dist

# dotenv environment variables file
.env

package-lock.json

ormconfig.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/typescript.code-snippets
